# git files
.git/**/*
.github
.gitignore

# node modules
node_modules

# npm files
.nvmrc
npm-shrinkwrap.json

# config files
esbuild.*
eslint.*
tsup.*
tsconfig.*

# src files
src/**/*

# test files
tests/**/*

# scratchpad
.scratchpad/
